<!doctype html>

<footer class="page-footer">
  <div class="footer-copyright">
    <p style="text-align: center; color:gray;">
      © 2021 Ursula C. Parker
    </p>
  </div>
</footer>

</body>

</html>
