<!doctype html>

<body>
  <header>
    <h1>PasswordProtect</h1>
  </header>

  <nav class="navbar">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a id="discussions" href="/discussions">Home</a></li>
        <li><a id="passwordChecker" href="/passwordChecker">Password Checker</a></li>
        <li><a id="siteChecker" href="/siteChecker">Site Checker</a></li>
        <li><a id="about" href="/about">About</a></li>
        <li><a id="login" href="/users/login">Login</a></li>
        <li><a id="signup" href="/users/signUp">Sign Up</a></li>
      </ul>
    </div>
  </nav>
