<%- include('partials/header'); %>
<%- include('partials/navbar'); %>

<div class="default">

<h1>About</h1>

<h4>Type in sites you use to see if they have been breached. Type in your passwords to see how secure they are.</h4>
<br />
<h4>Comment on the discussions posted by admin on cybersecurity topics.</h4>
<br />
<h4>Have fun!</h4>
<br /><br />
<p>P.S. Ironically, this site is absurdly vulnerable (we're talking beginner level vulnhub). Don't put any sensitive info into your signup.</p>

</div>

<%- include('partials/footer'); %>
