.card {
  display: inline-block;
  overflow: visible;
}

.text-center {
  text-align: center;
}

body {
  background-color: black;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}

a {
  color: #d1e6ff !important;
}

.default {
  background-color: #031429;
  opacity: 0.92;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: white;
  margin-bottom: 20px;
}
